<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="2">
    <tr><td>name</td>
    <td>state</td>
    <td>city</td>
    <td>locality</td>
    <td>pincode</td>
    <td>price</td>

    </tr>


{% for x in object_list %}
    <tr>
    <td>{{ x.name }}</td>
    <td>{{ x.state }}</td>
    <td>{{ x.city }}</td>
    <td>{{ x.locality }}</td>
    <td>{{ x.pincode }}</td>
    <td>{{ x.price }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>